//Fonts
$primary-font: 'Inter', sans-serif;

//Fonts Weights
$deca-font-weight-light: 300;
$deca-font-weight-normal: 400;
$deca-font-weight-medium: 500;
$deca-font-weight-bold: 700;

//Colors
$color-primary-500: #1F41F7;
$color-success-500: #6BE42B;
$color-info-500: #5FA9FF;
$color-warning-500: #FFAB36;
$color-danger-500: #FB3030;
$color-pink-500: #F72B64;
$color-purple-500: #CC35F1;
$color-cyan-500: #29E1C0;
$color-aquamarine-500: #14D2ED;
$color-grey-500: #7F8F98;
$color-black-500: #56585A;

$color-primary-200:#A5B7FE;
$color-black-200:#EAEDEE;

$color-success-100: #EDFDD4;
$color-info-100: #DFF3FF;
$color-warning-100: #FFF5D6;
$color-danger-100: #FEE3D5;

$color-main-text:#10182B;
$color-main-text-gray:#96999C;
$color-main-white:#FFFFFF;
$color-main-disable:#C8CBCD;

//Icons
$deca-icon-bookmark:"\e900";
$deca-icon-checked-box:"\e901";
$deca-icon-eye:"\e902";
$deca-icon-eye-closed:"\e903";
$deca-icon-fire:"\e904";
$deca-icon-heart:"\e905";
$deca-icon-info-triangle:"\e906";
$deca-icon-listing:"\e907";
$deca-icon-notification:"\e908";
$deca-icon-star:"\e909";
$deca-icon-location:"\e90a";
$deca-icon-caret-down:"\e90b";
$deca-icon-caret-left:"\e90c";
$deca-icon-caret-right:"\e90d";
$deca-icon-caret-up:"\e90e";
$deca-icon-check:"\e90f";
$deca-icon-cross:"\e910";
$deca-icon-other-1:"\e911";
$deca-icon-other-2:"\e912";
$deca-icon-shopping-cart:"\e913";
$deca-icon-chat:"\e914";
$deca-icon-comment:"\e915";
$deca-icon-send:"\e916";
$deca-icon-share:"\e917";
$deca-icon-facebook:"\e918";
$deca-icon-instagram:"\e919";
$deca-icon-telegram:"\e91a";
$deca-icon-twitter:"\e91b";
