.deca-notification-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  border: 2px solid $color-main-border;
  border-radius: 12px;
  color: $color-main-text-gray;
  background-color: $color-main-white;

  &__left, &__right {
    display: flex;
    align-items: center;
  }

  &__left &__left-icon {
    margin-right: 10px;
    font-size: 24px;
  }

  &__right &__right-icon {
    margin-left: 2px;
    font-size: 24px;
  }

  &__right &__right-icon-text {
    font-size: 14px;
    line-height: 21px;
  }
}