.deca-btn {
  font-family: $primary-font;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: $deca-font-weight-medium;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: all .15s ease-in-out;

  //Button sizes
  &--big {
    padding: 19px 20px;
    font-size: 18px;
    line-height: 22px;
  }

  &--big &__icon {
    font-size: 22px;
  }

  &--medium {
    padding: 16px 18px;
    font-size: 16px;
    line-height: 18px;
  }

  &--medium &__icon {
    font-size: 20px;
  }

  &--small {
    padding: 12px 14px;
    font-size: 14px;
    line-height: 16px;
  }

  &--small &__icon {
    font-size: 16px;
  }

  //Button types
  &--icon-right {
    justify-content: space-between;
  }

  &--icon-right &__icon {
    margin-left: 8px;
  }

  &--icon-left {
    justify-content: space-between;
  }

  &--icon-left &__icon {
    margin-right: 8px;
  }

  &--text {
  }

  &--icon {
  }

  &--basic {
    background-color: transparent;
    color: $color-main-text-gray;

    &:hover, &:focus {
      color: darken($color-main-text-gray, 10%);
    }
  }

  &--basic i {
    font-size: 24px;
  }


  //Button Colors
  $button-colors: (primary: $color-primary, success: $color-success, info: $color-info, warning: $color-warning, danger: $color-danger);

  @function set-color($color) {
    @if (lightness($color) > 60) {
      @return $color-main-text;
    } @else {
      @return $color-main-white;
    }
  }

  @each $name, $color in $button-colors {
    &--#{$name} {
      background-color: $color;
      color: set-color($color);

      &:hover, &:focus {
        background-color: lighten($color, 10%);
      }
    }
  }

  &:disabled {
    background-color: #ececec;
    color: $color-main-text;
  }
}

