.deca-user-action-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 16px;
  border: 2px solid $color-main-border;
  border-radius: 12px;
  background-color: $color-main-white;
  margin-bottom: 16px;

  &__info {
    display: flex;
    align-items: center;
  }

  &__info &__user-image {
    margin-right: 12px;
  }

  &__title {
    font-weight: $deca-font-weight-medium;
    font-size: 16px;
    line-height: 18px;
  }

  &__subtitle {
    font-size: 14px;
    line-height: 21px;
    color: $color-main-text-gray;
  }

  &__music {
    display: flex;
    flex-direction: column;

    progress::-moz-progress-bar {
      background: #5672FA;
    }

    progress::-webkit-progress-value {
      background: #5672FA;
    }
  }

  &__music .deca-progress {
    margin-bottom: 0;
  }

  &__music .deca-progress .deca-progress__desc{
    font-weight: $deca-font-weight-medium;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 7px;
  }

  &__social {
    display: flex;
    align-items: center;
  }

  &__social &__social-link {
    display: inline-flex;
    align-items: center;
    background-color: transparent;
    border: none;
    color: $color-primary;
    text-decoration: none;
    margin-left: 10px;

    &:hover, &:focus {
      outline: none;
      color: lighten($color-primary, 10%);
    }
  }

  &__social &__social-link &__social-icon {
    font-size: 24px;
  }

  //image sizes
  &--big-image {
    padding: 10px 16px;
  }

  &--big-image &__user-image {
    height: 50px;
    width: 50px;
    border-radius: 25px;
  }

  &--medium-image {
    padding: 14px 16px;
  }

  &--medium-image &__user-image {
    height: 40px;
    width: 40px;
    border-radius: 20px;
  }

  &--small-image {
    padding: 15px 16px;
  }

  &--small-image &__user-image {
    height: 30px;
    width: 30px;
    border-radius: 15px;
  }
}
