.deca-form-group{
  position: relative;
  margin-bottom: 16px;

  &__icon{
    font-style: normal;
    &:before{
      font-family:"icomoon";
      font-size:24px;
      position:absolute;
      top: 15px;
      right: 20px;
      z-index:100;
      line-height:1;
      -webkit-font-smoothing: antialiased;
    }
  }

  .deca-form-input:focus + &__icon:before{
    content:$deca-icon-chat;
    color: $color-primary-500;
  }

  //Form types: name, icon and color
  $form-types: ("success" $deca-icon-check $color-success-500, "info" $deca-icon-info-triangle $color-info-500, "warning" $deca-icon-cross $color-warning-500, "danger" $deca-icon-cross $color-danger-500 );

  @each $name, $icon, $color in $form-types {
    &--#{$name} {
      .deca-form-input{
        border-color: $color;
        &:focus{
          border-color: $color-primary-500;
        }
      }
      .deca-form-group__icon:before{
        color: $color;
        content: $icon;

      }
    }
  }
}