@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/deca.eot?7rpq60');
  src:  url('../fonts/deca.eot?7rpq60#iefix') format('embedded-opentype'),
  url('../fonts/deca.ttf?7rpq60') format('truetype'),
  url('../fonts/deca.woff?7rpq60') format('woff'),
  url('../fonts/deca.svg?7rpq60#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Bookmark:before {
  content: "\e900";
}
.icon-Checked-box:before {
  content: "\e901";
}
.icon-Eye:before {
  content: "\e902";
}
.icon-Eye-closed:before {
  content: "\e903";
}
.icon-Fire:before {
  content: "\e904";
}
.icon-Heart:before {
  content: "\e905";
}
.icon-Info-triangle:before {
  content: "\e906";
}
.icon-Lightning:before {
  content: "\e907";
}
.icon-Notification:before {
  content: "\e908";
}
.icon-Star:before {
  content: "\e909";
}
.icon-Location:before {
  content: "\e90a";
}
.icon-Caret-down:before {
  content: "\e90b";
}
.icon-Caret-left:before {
  content: "\e90c";
}
.icon-Caret-right:before {
  content: "\e90d";
}
.icon-Caret-up:before {
  content: "\e90e";
}
.icon-Check:before {
  content: "\e90f";
}
.icon-Cross:before {
  content: "\e910";
}
.icon-Other-1:before {
  content: "\e911";
}
.icon-Other-2:before {
  content: "\e912";
}
.icon-Shopping-cart:before {
  content: "\e913";
}
.icon-Chat:before {
  content: "\e914";
}
.icon-Comment:before {
  content: "\e915";
}
.icon-Send:before {
  content: "\e916";
}
.icon-Share:before {
  content: "\e917";
}
.icon-Facebook:before {
  content: "\e918";
}
.icon-Instagram:before {
  content: "\e919";
}
.icon-Telegram:before {
  content: "\e91a";
}
.icon-Twitter:before {
  content: "\e91b";
}
