@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/deca.eot?7rpq60');
  src:  url('../fonts/deca.eot?7rpq60#iefix') format('embedded-opentype'),
  url('../fonts/deca.ttf?7rpq60') format('truetype'),
  url('../fonts/deca.woff?7rpq60') format('woff'),
  url('../fonts/deca.svg?7rpq60#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Bookmark:before {
  content: $deca-icon-bookmark;
}
.icon-Checked-box:before {
  content: $deca-icon-checked-box;
}
.icon-Eye:before {
  content: $deca-icon-eye;
}
.icon-Eye-closed:before {
  content: $deca-icon-eye-closed;
}
.icon-Fire:before {
  content: $deca-icon-fire;
}
.icon-Heart:before {
  content: $deca-icon-heart;
}
.icon-Info-triangle:before {
  content: $deca-icon-info-triangle;
}
.icon-Lightning:before {
  content: $deca-icon-listing;
}
.icon-Notification:before {
  content: $deca-icon-notification;
}
.icon-Star:before {
  content: $deca-icon-star;
}
.icon-Location:before {
  content: $deca-icon-location;
}
.icon-Caret-down:before {
  content:$deca-icon-caret-down;
}
.icon-Caret-left:before {
  content: $deca-icon-caret-left;
}
.icon-Caret-right:before {
  content: $deca-icon-caret-right;
}
.icon-Caret-up:before {
  content: $deca-icon-caret-up;
}
.icon-Check:before {
  content: $deca-icon-check;
}
.icon-Cross:before {
  content: $deca-icon-cross;
}
.icon-Other-1:before {
  content: $deca-icon-other-1;
}
.icon-Other-2:before {
  content: $deca-icon-other-2;
}
.icon-Shopping-cart:before {
  content: $deca-icon-shopping-cart;
}
.icon-Chat:before {
  content: $deca-icon-chat;
}
.icon-Comment:before {
  content: $deca-icon-comment;
}
.icon-Send:before {
  content: $deca-icon-send;
}
.icon-Share:before {
  content: $deca-icon-share;
}
.icon-Facebook:before {
  content: $deca-icon-facebook;
}
.icon-Instagram:before {
  content: $deca-icon-instagram;
}
.icon-Telegram:before {
  content: $deca-icon-telegram;
}
.icon-Twitter:before {
  content: $deca-icon-twitter;
}
